asgiref==3.4.1
async-timeout==4.0.2
Django==3.2.25
django-redis==5.4.0
importlib-metadata==4.8.3
packaging==21.3
pyparsing==3.0.7
pytz==2026.2
redis==4.3.6
sqlparse==0.4.4
typing-extensions==4.1.1
zipp==3.6.0
